@{
    ViewData["Title"] = "Usuario Page";
}
@model List<Usuario>
<div class ="d-flex flex-column align-items-center">
  <h2>Listado de Usuario</h2>
<table class="table table-success table-striped">
  <thead>
    <tr>
      <th scope="col" hidden>ID</th>
      <th scope="col" class="col-3">Nombre</th>
      <th scope="col">Modificar</th>
      <th scope="col">Eliminar</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var usu in Model){
    <tr>
      <th scope="row" hidden>@usu.Id</th>
      <td>@usu.NombreUsuario</td>
      <td><a asp-controller="Usuario" asp-action="ModificarUsuario" asp-route-idUsu="@usu.Id" class="btn btn-info">Editar</a></td>
      <td><a asp-controller="Usuario" asp-action="DeleteUsuario" asp-route-idUsu="@usu.Id" onclick="return confirm('¿Estás seguro que quieres eliminar el usuario?')" class="btn btn-outline-danger">Eliminar</a></td>  
    </tr>
    }
  </tbody>
</table>
<a asp-controller="Usuario" asp-action="CrearUsuario"><button type="button" class="btn btn-primary btn-lg">Crear Usuario</button></a>
</div>
